@model EmailManager.Models.ViewModels.EditEmailAttachmentViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("EmailAttachment", "Home"))
{
    @Html.AntiForgeryToken()

    //if (Model.Attachment.Id == 0)
    //{


    @(Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Attachment.Lp)
        @Html.HiddenFor(x => x.Attachment.EmailId)
        @Html.HiddenFor(x => x.Attachment.FileData)

        <div>
            @Html.LabelFor(x => x.Attachment.Id)
            @Html.TextBoxFor(x => x.Attachment.Id, new { type = "file", id = "attachment1", name = "attachments", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Attachment.Id)
        </div>
        @*<div>
            @Html.LabelFor(x => x.Email.AttachmentId)
            @Html.TextBoxFor(x => x.Attachments, new { type = "file", id = "attachment2", name = "attachments", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email.AttachmentId)
        </div>
        <div>
            @Html.LabelFor(x => x.Email.AttachmentId)
            @Html.TextBoxFor(x => x.Attachments, new { type = "file", id = "attachment3", name = "attachments", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email.AttachmentId)
        </div>*@

        <button class="btn btn-primary btn-lg mt-5 mb-5" type="submit">Załącz do maila</button>
    }
    @*}*@
}

@section Scripts
{

}



