@model EmailManager.Models.ViewModels.EditEmailViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@if (Model.Email.Id != 0)
{
    <button class="btn btn-primary mb-3" onclick='window.location.href="@Url.Action("InvoicePosition","Home", new {emailId=Model.Email.Id})"'>Wyślij</button>
    <button class="btn btn-secondary mb-3" onclick="generatePdf()">Generuj PDF</button>
    <button class="btn btn-secondary mb-3" onclick='window.location.href="@Url.Action("EmailTemplate","Print", new {emailId=Model.Email.Id})"'>Podgląd Email</button>
    <button class="btn btn-secondary mb-3" onclick="printEmail()">Drukuj Email</button>
}

<div class="row">
    <div class="col-lg-10">
        @using (Html.BeginForm("Invoice", "Home"))
        {

            if (Model.Email.Id == 0)
            {
                <p class="alert alert-info mt-4 mb-4">Pola tytuł wiadomości, odbiorca i termin są <strong>wymagane</strong></p>
            }

            @Html.HiddenFor(x => x.Email.Id)
            @Html.HiddenFor(x => x.Email.UserId)

            <div class="form-group">
                @Html.LabelFor(x => x.Email.Sender)
                @Html.DropDownListFor(x => x.Email.Sender, new SelectList(Model.Email.Sender.SendersPersonalData, "Id", "Name"), "-- Wybierz nadawcę --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email.Sender)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email.MessageSubject)
                @Html.TextBoxFor(x => x.Email.MessageSubject, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Email.MessageSubject)
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.Email.Receivers)
                @Html.DropDownListFor(x => x.Email.Receivers, new SelectList(Model.Receivers, "Id", "Name"), "-- Wybierz odbiorcę --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email.Receivers)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email.EmailSendDate)
                @Html.TextBoxFor(x => x.Email.EmailSendDate, "{0:dd-MM-yyy}", new { @class = "form-control", @id = "EmailSendDate", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Email.EmailSendDate)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email.MessageBody)
                @Html.TextAreaFor(x => x.Email.MessageBody, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email.Footer)
                @Html.DropDownListFor(x => x.Email.Footer, new SelectList(Model.Footers, "Id", "Name"), "-- Wybierz stopkę --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email.Footer)
            </div>

            <button class="btn btn-primary btn-lg mb-5" type="submit">Zapisz</button>
            <button class="btn btn-secondary btn-lg mb-5" type="submit">Wyślij</button>

        }
    </div>
    
</div>

