@model IEnumerable<EmailManager.Models.Domains.Email>

@{
    ViewBag.Title = "Strona główna";
}

<h1 class="mb-3">Historia maili</h1>

<button class="btn btn-primary mb-3" onclick='window.location.href="@Url.Action("Email","Home")"'>Dodaj</button>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">L.p.</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Nadawca</th>
                <th scope="col">Adresat</th>
                <th scope="col">Email adresata</th>
                <th scope="col">Data wysłania</th>
                <th scope="col">Treść</th>
                <th scope="col"></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var email in Model)
            {
                var isReceiverCCExist = ReferenceEquals(email.ReceiverCC, null);
                var receiverCCName =  !isReceiverCCExist ? ", " + email.ReceiverCC.ReceiverData.Name : string.Empty;
                var receiverCCEmail =  !isReceiverCCExist ? ", " + email.ReceiverCC.ReceiverData.EmailAddress : string.Empty;
                <tr>
                    <td><a class="font-weight-bold" href="@Url.Action("Email","Home",new {id=email.Id})">@email.Id</a></td>
                    <td>@email.MessageSubject</td>
                    <td>@email.Sender.SenderPersonalData.Name</td>
                    <td>@(email.Receiver.ReceiverData.Name + receiverCCName)</td>
                    <td>@(email.Receiver.ReceiverData.EmailAddress+ receiverCCEmail)</td>
                    <td>@email.EmailSendDate.ToString("dd-MM-yyyy")</td>
                    <td>@email.MessageBody</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="deleteEmail('@email.Id', this)">Usuń</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>
        Brak emaili do wyświetlenia
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        function deleteEmail(emailId, btn) {

            if (!confirm("Czy na pewno chcesz usunąć Emaila?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteEmail", "Home")",
                data: {
                    emailId: emailId
                },
                success: function (data)
                {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else
                    {
                        alert(data.Message);
                    }
                },
                error: function (data)
                {
                    alert(data.Message);
                },
                dataType:'json'

                });
        }

    </script>

}